.menu {
  width: 200px;
  height: 90px;
  margin: 30px;
  position: relative;
}

/*.menu:hover {
	font-size: 30px;
}*/

/*.menu:hover > div {
	display: inline;
}*/

.menu-item {

  background: #FFEEFF;
  float: right;
  position: absolute;
  bottom: 104px;
  width: 50px;
  height: 15px;
  visibility: hidden;
  transform: translateY(30px);
  transform-origin: top left;
  transition: transform 1s, top 1s, left 1s, visibility 1s;
}



.menu:hover .menu-item:nth-child(1) {
  transform: translateY(30px) translateX(20px) rotateZ(0deg);
  visibility: visible;
}

.menu:hover .menu-item:nth-child(2) {
  transform: translateY(45px) translateX(20px) rotateZ(40deg);
  visibility: visible;
}

.menu:hover .menu-item:nth-child(3) {
  transform: translateY(55px) translateX(13px) rotateZ(90deg);
  visibility: visible;

}

